//========COLORS========//
$main-text-color:#646D70;
$dark-text-color:#222F33;
$light-text-color:#FFFFFF;
$button-text-color:#606B74;
$black-text-color:#000000;


$white-bgd-color:#FFFFFF;
$dark-bgd-color:#222F33;
