@import url(https://fonts.googleapis.com/css?family=Rubik:regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Merriweather:900&display=swap);
@import "_nullstyle.scss";
@import "_variables.scss";
body {
   font-family: Rubik, sans-serif;
   font-size: 0.875rem;
   line-height: 185.714286%; /* 26px/14 */
   color: $main-text-color;
   background-color: $white-bgd-color;
}
.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}
[class*="__container"] {
   max-width: 52.5rem;
   margin: 0 auto;
   padding: 0 0.9375rem;
   @media (max-width: 74.9988em) {
      max-width: 60.625rem;
   }
   @media (max-width: 61.9988em) {
      max-width: 46.875em;
   }
   @media (max-width: 47.9988em) {
      max-width: none;
   }
}
[class*="__title"] {
   color: $light-text-color;
}
.title {
   font-family: Merriweather;
   font-size: 1.875rem;
   font-weight: 900;
   line-height: 126.666667%; /* 38px/30 */
   @media (max-width: 47.9988em) {
      font-size: 1.5rem;
   }
}

//===========HEADER============//
.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   &.scroll {
      background-color: rgba(0, 0, 0, 0.4);
   }
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.25rem;
      min-height: 6.5625rem;
      @media (max-width: 39.0625em) {
         min-height: 4.375rem;
      }
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
   }
   &__logo {
      overflow: hidden;
      img {
         width: 8.4375rem;
         max-height: 1.625rem;
      }
      @media (max-width: 39.0625em) {
         flex: 0 0 2.1875rem;
      }
   }
   &__body {
      display: flex;
      align-items: center;
      column-gap: 2.5rem;
      @media (max-width: 39.0625em) {
         column-gap: 1.25rem;
      }
   }
   &__button {
      padding: 0.625rem 1.3125rem;
      background-color: $white-bgd-color;
      border-radius: 0.25rem;
      color: $button-text-color;
      text-align: center;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 116.666667%; /* 14px/12 */
      transition: all 0.3s ease 0s;
      &:hover {
         background-color: $button-text-color;
         color: $white-bgd-color;
      }
      @media (max-width: 39.0625em) {
         padding: 0.625rem 0.9375rem;
      }
   }
}
.menu {
   &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 2.5rem;
      row-gap: 0.625rem;
      @media (max-width: 39.0625em) {
         column-gap: 0.3125rem;
      }
   }
   &__link {
      font-size: 0.75rem;
      font-weight: 500;
      color: $light-text-color;
      transition: all 0.3s ease 0s;
      &:hover {
         text-decoration: underline;
      }
      @media (max-width: 39.0625em) {
         font-size: 0.875rem;
      }
   }
}

//================PAGES=============//
.page {
   flex: 1 1 auto;
   &__main {
      min-height: 100vh;
      position: relative;
      display: flex;
   }
}
.page {
   &__materials {
      position: relative;
      z-index: 2;
      @media (min-width: 47.9988em) {
         &::before {
            content: "";
            position: absolute;
            width: 66%;
            height: 2.3125rem;
            transform: translate(0px, -100%);
            top: 0;
            left: 0;
            background-color: $white-bgd-color;
         }
         &::after {
            content: "";
            position: absolute;
            width: 33.982301%; /* 384/1130 */
            height: 8.75rem;
            bottom: 0;
            right: 0;
            background-color: $dark-bgd-color;
         }
      }
   }
}
.page {
   &__innovation {
      background-color: $dark-bgd-color;
      padding-top: 4.375rem;
      padding-bottom: 5rem;
      @media (max-width: 47.9988em) {
         padding-top: 1.875rem;
         padding-bottom: 1.875rem;
      }
   }
}
.page {
   &__info {
      padding-top: 5.3125rem;
      padding-bottom: 5.3125rem;
      @media (max-width: 47.9988rem) {
         padding-top: 1.875rem;
         padding-bottom: 1.875rem;
      }
   }
}

//================PAGE_MAIN=============//
.main {
   &__container {
      padding-top: 5.625rem;
      padding-bottom: 3.125rem;
      position: relative;
      z-index: 2;
      flex: 1 1 auto;
      display: grid;
      grid-template-columns: 54.320988% 1fr;
      gap: 1.25rem;
      align-items: center;
      @media (max-width: 39.0625em) {
         grid-template-columns: auto;
         align-content: center;
      }
   }
   &__label {
      color: $light-text-color;
      font-size: 1rem;
      font-weight: 500;
      line-height: 118.75%; /* 19px/16 */
      &:not(:last-child) {
         margin-bottom: 0.75rem;
      }
   }
   &__video-link {
      color: $light-text-color;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 116.666667%; /* 14px/12 */
      @media (min-width: 43.75em) {
         justify-self: center;
      }
      display: flex;
      align-items: center;
      gap: 0.625rem;
      &::before {
         content: "";
         width: 2rem;
         height: 2rem;
         flex: 0 0 2rem;
         border-radius: 50%;
         background: url(/img/main/BTN\ Play.svg) left no-repeat;
      }
   }
   &__background {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #000;
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
         @media (max-width: 43.75em) {
            opacity: 0.6;
         }
      }
   }
}

//=================PAGE_MATERIALS=============//
.materials {
   &__container {
      position: relative;
      z-index: 2;
      display: grid;
      grid-template-columns: 50% minmax(17.5rem, 20.3125rem);
      justify-content: space-between;
      align-items: start;
      gap: 1.25rem;
      padding-bottom: 1.25rem;
      @media (max-width: 47.9988em) {
         grid-template-columns: auto;
      }
   }
   &__content {
      padding-top: 1.5625rem;
      display: grid;
      gap: 0.8125rem;
      justify-items: start;
   }
   &__title {
      color: $dark-text-color;
   }
   &__text {
      color: $main-text-color;
      line-height: 185.714286%; /* 26px/14 */
   }
   &__more {
      color: $button-text-color;
      background-color: $white-bgd-color;
      text-align: center;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 116.666667%; /* 14px/12 */
      padding: 0.625rem 0.875rem;
      border-radius: 0.25rem;
      border: 0.0625rem solid $main-text-color;
      transition: all 0.3s ease 0s;
      &:hover {
         color: $light-text-color;
         background-color: $button-text-color;
      }
   }
   &__slider {
      transform: translate(0, -20.765027%); /* 76/366 */
      @media (max-width: 47.9988em) {
         transform: translate(0, 0); /* 76/366 */
      }
   }
}

//=================SLIDER==============//
.swiper {
   overflow: hidden;
}
.swiper-initialized {
   touch-action: pan-y;
}
.swiper-wrapper {
   display: flex;
   box-sizing: content-box;
}
.swiper-slide {
   flex-shrink: 0;
}

.slider-materials {
   position: relative;
   &__slide {
      aspect-ratio: 325 / 366;
      position: relative;
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
      }
   }
   &__pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      flex-wrap: wrap;
      gap: 0.5rem;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      .swiper-pagination-bullet {
         flex: 0 0 0.5rem;
         height: 0.5rem;
         border-radius: 50%;
         cursor: pointer;
         background-color: $light-text-color;
         opacity: 0.4;
         transition: all 0.3s;
      }
      .swiper-pagination-bullet-active {
         opacity: 1;
      }
   }
}

//=================PAGE_INNOVATION=============//
.innovation {
   &__title {
      &:not(:last-child) {
         margin-bottom: 0.5rem;
      }
   }
   &__text {
      columns: 2 15rem;
      gap: 2.6875rem;
      color: $light-text-color;
      opacity: 0.7;
      line-height: 171.428571%; /* 24px/14 */
      p:not(:last-child) {
         margin-bottom: 0.9375rem;
      }
   }
}

//=================PAGE_INFO=============//
.info {
   &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4.375rem;
      @media (max-width: 61.9988em) {
         column-gap: 1.875rem;
      }
      @media (max-width: 47.9988em) {
         grid-template-columns: auto;
         order: 1;
      }
      row-gap: 1.25rem;
   }
   &__image {
      @media (max-width: 47.9988em) {
         order: 2;
         text-align: center;
      }
      img {
         max-width: 100%;
      }
   }
   &__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @media (max-width: 30em) {
         grid-template-columns: auto;
      }
      column-gap: 3.75rem;
      @media (max-width: 61.9988em) {
         column-gap: 1.875rem;
      }
      row-gap: 2.3125rem;
   }
}
.item-info {
   &__title {
      color: $dark-text-color;
      font-family: Merriweather;
      font-size: 1.125rem;
      font-weight: 900;
      line-height: 127.777778%; /* 23px/18 */
      &:not(:last-child) {
         margin-bottom: 0.25rem;
      }
   }
   &__text {
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 183.333333%; /* 22px/12 */
   }
}

//=================FOOTER=============//
.footer {
   display: flex;
   @media (max-width: 37.5em) {
      flex-direction: column;
      gap: 1.875rem;
   }
   align-items: center;
   justify-content: space-between;
   background-color: $dark-bgd-color;
   padding: 2.0625rem 3.125rem;
   &__mail {
      color: $light-text-color;
      opacity: 0.6;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 116.666667%; /* 14px/12 */
      &:hover {
         text-decoration: underline;
      }
   }
   &__menu {
      display: flex;
      align-items: center;
      gap: 1.875rem;
   }
}
.menu-footer {
   &__link {
      color: $light-text-color;
      opacity: 0.6;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 116.666667%; /* 14px/12 */
      &:hover {
         text-decoration: underline;
      }
   }
}
